REACT_APP_SEARCH_SERVICE_NAME=your-search-service-name
REACT_APP_SEARCH_INDEX_NAME=your-search-index-name
REACT_APP_SEARCH_API_KEY=your-search-api-key
REACT_APP_SEARCH_API_VERSION=2024-05-01-preview
REACT_APP_STORAGE_ACCOUNT_NAME=your-storage-account-name
REACT_APP_STORAGE_CONTAINER_NAME=your-storage-container-name
